In [ ]:
import pandas as pd
import numpy as np

In [ ]:
data = {
    'Yil':        [2021, 2020, 2019, 2018, 2017, 2016, 2010],
    'Aholi soni': [33.9, 33.5, 32.9, 31.9, 31.4, 30.9, 28.5],
    'Temp':       [1.54, 1.48, 1.56, 1.62, 1.65, 1.66, 1.53],
    'Zichlik':    [79.77, 78.68, 77.53, 76.34, 75.13, 73.91, 72.71],
}
df = pd.DataFrame(data)

In [ ]:
data=df['Aholi soni'] #1ta [] series bolib kochiriladi

In [ ]:
type(data)

pandas.core.frame.DataFrame

In [ ]:
#data=df[['Aholi soni']] #2ta [[]] malumotni dataframe qlb chaqiradi
#type(data)

pandas.core.frame.DataFrame

In [ ]:
data

   Aholi soni
0        33.9
1        33.5
2        32.9
3        31.9
4        31.4
5        30.9
6        28.5

In [ ]:
data[0:4]

   Aholi soni
0        33.9
1        33.5
2        32.9
3        31.9

In [ ]:
obj=pd.Series(np.arange(8.),index=['a','v','b','c','d','e','f','z'])
obj[['z']]

z    7.0
dtype: float64

In [ ]:
obj[0:4]

a    0.0
v    1.0
b    2.0
c    3.0
dtype: float64

In [ ]:
obj['a':'e']

a    0.0
v    1.0
b    2.0
c    3.0
d    4.0
e    5.0
dtype: float64

In [ ]:
obj[[1,4]]

v    1.0
d    4.0
dtype: float64

In [ ]:
obj['f':'z']=15

In [ ]:
obj

a     0.0
v     1.0
b     2.0
c     3.0
d     4.0
e     5.0
f    15.0
z    15.0
dtype: float64

In [ ]:
obj[obj<15]

a    0.0
v    1.0
b    2.0
c    3.0
d    4.0
e    5.0
dtype: float64

In [ ]:
datas = {'Yil':[2021, 2020, 2019, 2018, 2017, 2016, 2015, 2010],
       'Aholi soni':[33.9, 33.5, 32.9, 32.5, 31.9, 31.4, 30.9, 28.5],
       'Temp':[1.54, 1.48, 1.56, 1.62, 1.65, 1.66, 1.64, 1.53],
       'Zichlik':[79.77, 78.68, 77.53, 76.34, 75.13, 73.91, 72.71, 67.03]}

In [ ]:
df=pd.DataFrame(datas)

In [ ]:
uz={2020:33.5,2019:32.9,2018:32.5,2017:31.9,2016:31.4,2015:30.9}
kz={2020:18.8,2019:18.5,2018:18.3,2017:18.1,2016:17.8,2016:17.8,2015:17.6}
tj={2020:9.5,2019:9.3,2018:9.1,2017:8.9,2016:8.7,2015:8.5}
kg={2020:6.5,2019:6.3,2018:6.1,2017:5.9,2016:5.5,2015:5}
tr={2020:6,2019:5.8,2018:5.6,2017:5.3,2016:5.01,2015:4.99}

df1=pd.DataFrame(
    {'Uzbekistan':uz,
     'Kazakhstan':kz,
     'Tajikistan':tj,
     'Kyrgizstan':kz,
     'Turkeministan':tr
     }
)
df1

      Uzbekistan  Kazakhstan  Tajikistan  Kyrgizstan  Turkeministan
2020        33.5        18.8         9.5        18.8           6.00
2019        32.9        18.5         9.3        18.5           5.80
2018        32.5        18.3         9.1        18.3           5.60
2017        31.9        18.1         8.9        18.1           5.30
2016        31.4        17.8         8.7        17.8           5.01
2015        30.9        17.6         8.5        17.6           4.99

In [ ]:
df1['Kazakhstan',['Uzbekistan']]

<>:1: SyntaxWarning: str indices must be integers or slices, not str; perhaps you missed a comma?
<>:1: SyntaxWarning: str indices must be integers or slices, not str; perhaps you missed a comma?
<ipython-input-46-6cd71c7a754f>:1: SyntaxWarning: str indices must be integers or slices, not str; perhaps you missed a comma?
  df1['Kazakhstan']['Uzbekistan']]

TypeError: ignored